.cart {
    font-family: sans-serif, 'Times New Roman';

    h1 {
        text-align: center;
        font-size: 2rem;
    }

    table {
        margin: 20px 20px 0px;
        border-collapse: collapse;

        tr {

            .thumbnail,
            .each,
            .quantity {
                width: 15%;

                img {
                    width: 100%;
                }
            }

            .name,
            .total {
                width: 27.5%;
            }

            td {
                text-align: center;
                box-sizing: border-box;
                padding: 10px;
            }
        }

        tbody {
            tr {
                border-bottom: 2px #754b23 solid;
            }
        }

        thead,
        .total,
        tfoot {
            font-weight: bold;
        }

        tfoot {
            font-size: 2rem;

            td:first-child {
                text-align: right;
            }
        }
    }

    a {
        button {
            color: white;
            background-color: #e86b35;
            font-weight: bold;
            margin: 0px 35% 10px;
            width: 30%;
            height: 60px;
            font-size: 1.5rem;
            border:none;
        }

        button:hover {
            cursor: pointer;
        }

    }
}