.main-nav {
    margin: 5px auto;
    padding-left: 57%;
    width:43%;

    li {
        list-style-type: none;
        display: inline-block;
        text-align: center;
        padding:0px 3%;
    }

    a {
        color: #754b23;
        font-size: 0.75rem;
        text-decoration: none;
        font-family: sans-serif;
    }
}